<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Europale Basket Club</title>
        <link rel="stylesheet" href="../../style.css">

        <link rel="shortcut icon" href="/assets/img/logoeuropale.jpg" type="image/x-icon">
        <script src="https://kit.fontawesome.com/61523b4b4d.js" crossorigin="anonymous"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
<body>
    <!-- Home -->
    <section class="home">
        <div class="menu">
            <div class="logo">équipes u13</div>
            <div class="links">
              <ul class="links">
                  <li><a href="/index.html">Accueil</a></li>
                  <li><a href="#">Événements</a></li>
                  <li class="menu-item">
                      <a href="#">Équipes</a>
                       <ul class="submenu">
                          <li><a href="../views/teams_babys/baby.html">Baby </a></li>
                          <li><a href="../views/teams_u9/u9.html">U9 </a></li>
                          <li><a href="../views/teams_u11/u11.html">U11 </a></li>
                          <li><a href="../views/teams_u13/u13.html">U13 </a></li>
                          <li><a href="../views/teams_u15/u15.html">U15 </a></li>
                          <li><a href="../views/teams_u18/u18.html">U18 </a></li>
                          <li><a href="../views/teams_u21/u21.html">U21 </a></li>
                          <li><a href="../views/teams_dm3/dm3.html">DM3 </a></li>
                          <li><a href="../views/teams_dm2/dm2.html">DM2 </a></li>
                          <li><a href="../views/teams_dm1/dm1.html">DM1 </a></li>
                          <li><a href="../views/teams_loisir/loisir.html">Loisir </a></li>
                          <li><a href="../views/teams_bsante/bsante.html">Basket Santé </a></li>
                      </ul>
                  </li>
                  <li><a href="#">Contact</a></li>
              </ul>
          </div>
        </div>
            <!-- home_page_content -->
            <div class="home_page_content">
                    <span>
                        <i class="fa-solid fa-trophy"></i>
                        <p> Idée ?</p>
                    </span>
                    <h1 class="title">Nous découvrires<br> Juste ici</h1>
                    <p class="text">A descriptive paragraph that tells clients how good you <br> are and proves that you are the best choice.</p>
                    <button class="white_btn">Voir plus <i class="fa-solid fa-angle-right"></i></button>
            </div>
            <!-- image_box -->
             <div class="image_box">
                    <img src="/assets/img/butel/img1butel.avif" alt="image_box">
                    <p><i class="fa-solid fa-location-dot"></i>26 Rue Hector Berlioz, 62930 Wimereux</p>
             </div>
     </section>

     <section class="text_section">
        <p>EUROPALE</p>
        <h2>Engagement - Convivialité - Détermination <br> Dépassement de soi - Découverte</h2>
     </section>

   <br><br><br>
<section class="slider-section">
  <div class="stage">    
    <div class="container">
      <div class="ring">
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
      </div>
    </div>
  </div>
  <div class="slider-bar"></div>
</section>

<div class="container rel_calendar-box">
  <div class="row date-listing">
    <div class="col-md-1 offset-md-3 col-2">
      <button id="prevMonth" class="prev-months-calendaar"></button>
    </div>
    <div class="col-md-4 col-8">
      <h1 class="les-topsh1"><span id="monthYear">Mai 2025</span></h1>
    </div>
    <div class="col-md-1 col-2">
      <button id="nextMonth" class="next-months-calendaar"></button>
    </div>
  </div>

  <div id="matchesContainer">
    <!-- Les matchs seront injectés ici par JS -->
  </div>
</div>
<br><br><br>
<section class="text_section">
        <p>EUROPALE TEAMS</p>
        <h2>TEAMS u13 2025/2026</h2>
     </section>
      <br><br><br><br>

<section class="slider-section2">
  <div class="stage2">    
    <div class="container2">
      <div class="ring2">
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
        <div class="img2"></div>
      </div>
    </div>
  </div>
  <div class="slider-bar"></div>
</section>

<div class="container calendar-teams-box">
  <div class="row calendar-teams-header">
    <div class="col-md-1 offset-md-3 col-2">
      <button id="calendarTeamsPrevBtn" class="calendar-teams-prev"></button>
    </div>
    <div class="col-md-4 col-8">
      <h1 class="calendar-teams-title"><span id="calendarTeamsMonthYear">Mai 2025</span></h1>
    </div>
    <div class="col-md-1 col-2">
      <button id="calendarTeamsNextBtn" class="calendar-teams-next"></button>
    </div>
  </div>

  <div id="calendarTeamsMatchesContainer">
    <!-- Les matchs Teams seront injectés ici par JS -->
  </div>
</div>


<footer class="site-footer">
            <!-- Sponsors défilants -->
            <div class="sponsor-bar">      
              <div class="wrapper">
                <div class="item item8">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="/assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item7">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="assets/img/sponsors/LOGO-wimille.webp" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item6">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="/assets/img/sponsors/logo-bshop-orange.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item5">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="/assets/img/sponsors/basketball_emotion.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item4">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="/assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item3">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="/assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item2">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="/assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>
                  <div class="item item1">
                    <a href="https://sponsor1.com" target="_blank">
                      <img src="/assets/img/sponsors/wimereux-logo.png" alt="Sponsor 1" />
                    </a>
                  </div>    
              </div>
            </div>
          
            <!-- Contenu principal du footer -->
            <div class="footer-content">  
              <div class="footer-columns">
                <div class="footer-column">
                  <h4>Contact</h4>
                  <ul>
                    <li><span>Email :</span> ebcww@hotmail.fr</li>
                    <li><span>Tél :</span> 06 76 37 67 29</li>
                    <li><span>Adresse :</span> 26 Rue Hector Berlioz, 62930 Wimereux</li>
                  </ul>
                </div>
          
                <div class="footer-column">
                  <h4>Navigation</h4>
                  <ul>
                    <li><a href="Index.html">Accueil</a></li>
                    <li><a href="#evenements">Événements</a></li>
                    <li><a href="#rendezvous">Le Lundi</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
          
                <div class="footer-column">
                  <h4>Suivez-nous</h4>
                  <div class="social-icons">
                    <a href="https://www.facebook.com/europalebcww"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/europalebasket/"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
                </div>
              </div>
            </div>
          
            <!-- Bas de page -->
            <div class="footer-bottom">
              <p>&copy; 2025 Europale Basket Club. Tous droits réservés.</p>
            </div>
          </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
<script src="u13.js"></script>
</body>
</html>